html, body {
    height: 100%;
    padding: 0;
    background-color: rgba(4, 1, 53, 0.534);
    
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


header {
    color:rgb(255, 255, 255); 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* navigatiebalk */

/* navbalk zelf*/
nav {
    width: 800px;
    margin: auto;
}


nav ul {
    list-style: none;
    padding-left: 0px;
}

/* blokjes in de nav*/
nav ul li {
    width: 120px;
    background: #0080cd;
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 2px;
    position: relative;
}

/* wanneer je op de navblokjes hovered */
nav ul li:hover{
    background: #ff0000;
}

/* tekst in de navblokjes*/
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
}

/*kleur dropdownblokjes*/
nav ul li ul li {
    background: green;
}

nav ul li ul{
    display: none;
}

nav ul li:hover ul{
    display: block;
}

nav ul li:hover ul li ul{
    display: none;
}

/* dropdropdownblok */
nav ul li ul li ul li{
    background: yellow;
}

nav ul li ul li ul{
    display: none;
}

nav ul li ul li:hover ul.submenu{
    position: relative;
    display: block;
    top: -35px;
    left: 120px;
}

