html, body {
    height: 100%;
    padding: 0;
    background-color: #CCDDFF;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


header {
    color:rgb(255, 255, 255); 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* navigatiebalk */

/* navbalk zelf*/
nav {
    width: 800px;
    margin: auto;
    max-width: 800px;
}


nav ul {
    list-style: none;
    padding-left: 0px;
}

/* blokjes in de nav*/
nav ul li {
    width: 175px; 
    background: #3C5568;
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: relative;
    
}

/* wanneer je op de navblokjes hovered */
nav ul li:hover{
    background: #0F273A;
}

/* tekst in de navblokjes*/
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
}

/*kleur dropdownblokjes*/
nav ul li ul li {
    background: #CCBBFF;
}

nav ul li ul{
    display: none;
}

nav ul li:hover ul{
    display: block;
}

nav ul li:hover ul li ul{
    display: none;
}

/* dropdropdownblok */
nav ul li ul li ul li {
    background: #CCCCFF;
    opacity: 100%;
}


nav ul li ul li ul{
    display: none;
}

nav ul li ul li:hover ul.submenu{
    position: relative;
    display: block;
    top: -35px;
    left: 175px;
}

