article.article-1-bio {
    text-align:left;
    background-color: #50C878;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    float: left; 
    width: 155px;
}

article.article-2 {
    text-align: left;
    background-color: #0F273A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    float: right;
    width: 505px;
    margin-bottom: 10px;
}

.tooltip {
    position: relative;
    display: inline-block; 
}

.tooltip .tooltiptext {
    visibility: hidden;
    width:120px;
    background-color: black; 
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 56%;
    margin-left: -60%;
    opacity: 0;
    transition: opacity 1s; 
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1; 
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #50C878;
  color: white;
  border: 1px solid #50C878;
}

/*
.pagination a:hover:not(.active) {background-color: #ddd;}

@font-face {
    font-family: LEVIBRUSH; 
    src: url(levi_brush_font_7001.zip)
}
*/